#demand ul {
  margin-top: 10px;
  padding-left: 5px;
}
#demand ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}
.nameSearch {
  margin-left: 10%;
}
.submitButton {
  margin-left: 85%;
}
.searchButton {
  width: 300px;
  height: 25px;
  border-radius: 15px;
  margin-left: 80%;
}
.leftBox,
.rightBox {
  float: left;
  width: 50%;
}

