.fst-tab {
  border-bottom: 0px;
  border-color: #E1E6E7;
}
.fst-tab li:first-child {
  margin-left: 8px;
}
select {
  border: solid 1px #E1E6E7;
  background: url("/DRMS/images/ic_assignment_white_24dp_1x.png") no-repeat scroll right center transparent;
}
.cell-title {
  width: 36%;
  text-align: left;
}
.cell-input {
  width: 100%;
}
.pnl-sdo-none {
  border-color: #E1E6E7;
  box-shadow: none;
}
.msd-input {
  width: 100%;
  padding-top: 14px;
  padding-right: 5px;
}
.msd-input > * {
  font-size: 12px !important;
  border: solid 1px #E1E6E7;
  box-shadow: none;
}
.msd-input > span {
  width: 36%;
  text-align: left;
  font-weight: bold;
  color: #000000;
  border-color: #DBDBDB;
  background-color: #FFF;
}
.msd-input input {
  border-color: #DBDBDB;
  box-shadow: none;
}
.msd-input select {
  width: 100%;
}
.sbmt-add {
  border: 1px solid #369bf3 !important;
  background-color: #FFF;
  border-radius: 5px;
  color: #369bf3;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 15px;
}
.sbmt-add:focus {
  outline: none;
}
.font-title {
  font-size: 12px !important;
  color: #80919C;
}
.des-title {
  padding-top: 14px;
}
.des-title * {
  display: block;
}
.des-title span {
  padding-top: 7px;
  padding-left: 13px;
  padding-bottom: 7px;
  border: 1px solid #E1E6E7;
  border-bottom: 0px;
  border-radius: 6px 6px 0px 0px;
}
.des-title textarea {
  width: 100%;
  height: 200px;
  border-top: 0px;
  border-radius: 0px 0px 6px 6px;
  border-color: #E1E6E7;
}
.req-tbe {
  box-shadow: none;
  border: 1px solid #E1E6E7;
}
.req-tbe .panel-body {
  padding: 0px;
}
.req-tbe table {
  margin-bottom: 0px;
}
.req-tbe table thead tr th {
  font-size: 11px;
  color: #FFF;
  background-color: #A7B9C2;
}
.btn-add {
  background-color: #6ABB58;
  color: #FFF;
  font-size: 11px;
}
.anb-can-fix {
  border-radius: 0px 6px 6px 0px !important;
}
.anb-can-fix + div {
  border: 0;
}
.anb-can-fix + div thead tr {
  background-color: #A7B9C2;
  color: #FFF;
}
.anb-can-fix + div th {
  font-size: small;
}
.anb-can-fix + div span {
  width: 115px;
}
.ipt-focus:focus {
  border-color: #DBDBDB;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

