<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.drms.dao.DrmsAllocationTypeDao">
	<insert id="insertDrmsAllocationType" parameterType="DrmsAllocationType"
		useGeneratedKeys="true" keyProperty="atp_id">
		insert into DRMS_AllocationType
		(atp_id,atp_name)
		values
		(#{atpId},#{atpName})
	</insert>

	<select id="searchAllocationTypeAll" resultMap="DrmsAllocationTypeMap"
		parameterType="int">
		select * from DRMS_AllocationType
	</select>

	<update id="updateDrmsAllocationType" parameterType="DrmsAllocationType">
		update DRMS_AllocationType
		<set>
			<if test="atpName !=null">
				atp_name=#{atpName}
			</if>
		</set>
		where atp_id=#{atpId}
	</update>

	<resultMap id="DrmsAllocationTypeMap" type="DrmsAllocationType">
		<result property="atpId" column="atp_id" />
		<result property="atpName" column="atp_name" />
	</resultMap>

</mapper> 