<div class="modal-header">
	<h3 class="modal-title">Available Resource</h3>
</div>
<div class="modal-body modal-bottom">
	<uib-accordion close-others="$ctrl.oneAtTime">
					<div uib-accordion-group class="panel-default" is-open="$ctrl.status.isCustomHeaderOpen" template-url="views/template_capability/capability-group-template.html">
						<uib-accordion-heading>
					
					<input type="checkbox" class="check-size">
					Joy Wang
					DCX/Digital
					
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':$ctrl.status.isCustomHeaderOpen,'glyphicon-chevron-right':!$ctrl.status.isCustomHeaderOpen}"></i>
					
						</uib-accordion-heading>
						<div>
							<ul >
								<li>hello</li>
								<li>this</li>
								<li>hello</li>
								<li>this</li>
							</ul>
						</div>
					 </div>
		</uib-accordion>
		<uib-accordion close-others="$ctrl.oneAtTime">
					<div uib-accordion-group class="panel-default" is-open="$ctrl.status.isCustomHeaderOpen" template-url="views/template_capability/capability-group-template.html">
						<uib-accordion-heading>
					
					
					
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':$ctrl.status.isCustomHeaderOpen,'glyphicon-chevron-right':!$ctrl.status.isCustomHeaderOpen}"></i>
					
						</uib-accordion-heading>
						<div>
							<ul >
								<li>hello</li>
								<li>this</li>
								<li>hello</li>
								<li>this</li>
							</ul>
						</div>
					 </div>
		</uib-accordion>
	<!-- <table class="table hover">
		
				<tr class="sizetr">
					<td><input type="checkbox" class="check-size"></td>
					<td>Joy Wang</td>
					<td>DCX/Digital</td>
					
					<td><uib-accordion close-others="$ctrl.oneAtTime">
					<div uib-accordion-group class="panel-default" is-open="$ctrl.status.isCustomHeaderOpen" template-url="views/template_capability/capability-group-template.html">
						<uib-accordion-heading>
					
					
					
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':$ctrl.status.isCustomHeaderOpen,'glyphicon-chevron-right':!$ctrl.status.isCustomHeaderOpen}"></i>
					
						</uib-accordion-heading>
						<div>
							<ul>
								<li>hello</li>
								<li>this</li>
								<li>hello</li>
								<li>this</li>
							</ul>
						</div>
					 </div>
				</uib-accordion></td></tr>
				
				
		
	
	</table>
	<div class="resource-container"> -->
<!-- 		<ul class="li-style"> -->
<!-- 			<li class="flex-style"> -->
<!-- 				<div><input type="checkbox" class="check-size"></div> -->
<!-- 				<div><span>Joy Wang</span></div> -->
<!-- 				<div><span>DCX</span></div> -->
<!-- <!-- 				<div><button class="btn btn-xs btn-info" ng-click="">LOOK MORE</button></div> --> 
<!-- 				<uib-accordion> -->
<!-- 					<div uib-accordion-group class="pannel-default" is-open="$ctrl.status.isCustomHeaderOpen" template-url="views/template_capability/capability-group-template.html"> -->
<!-- 						<uib-accordion-heading> -->
<!-- 						LOOK MORE<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':$ctrl.status.isCustomHeaderOpen,'glyphicon-chevron-right':!$ctrl.status.isCustomHeaderOpen}"></i> -->
<!-- 						</uib-accordion-heading> -->
<!-- 						<div> -->
<!-- 							<ul> -->
<!-- 								<li>hello</li> -->
<!-- 								<li>this</li> -->
<!-- 							</ul> -->
<!-- 						</div> -->
<!-- 					 </div> -->
<!-- 				</uib-accordion> -->
<!-- 			</li> -->
<!-- 			<li class="flex-style"> -->
<!-- 				<div><input type="checkbox" class="check-size"></div> -->
<!-- 				<div><span>Wllianm Jiang</span></div> -->
<!-- 				<div><span>AIGg</span></div> -->
<!-- 				<div><button class="btn btn-xs btn-primary">LOOK MORE</button></div> -->
			
<!-- 			</li> -->
<!-- 		</ul> -->
	
<!-- 	</div> -->
</div>
<div class="modal-footer">
	<button class="btn btn-primary">OK</button>
	<button class="btn btn-default">CANCEL</button>
</div>