<p class="text-right p-margin-clear">			
	<form class="form-inline">
		<div class="form-group">
	    	<label>Opportunity ID</label>
	    	<input ng-model="cond.oppId" type="text" class="form-control" id="exampleInputName2" placeholder="XXXX20100001">
	  	</div>
	  	<div class="form-group">
	    	<label>Opportunity Name</label>
	    	<input ng-model="cond.oppName" type="text" class="form-control" id="exampleInputEmail2" placeholder="Automatic Testing">
	  	</div>
	  	<div class="form-group">
	    	<label>Account</label>
	    	<select ng-model="cond.acct" ng-options="acct.accountName for acct in accts" class="form-control"></select>
	  	</div>				  	
	  	<button ng-click="doFiltering()" type="submit" class="btn btn-default">Search</button>
	  	<div ng-transclude class="form-group">
	  		<button ng-click="doFiltering()" type="submit" class="btn btn-default">Search</button>
	  	</div>
	</form>
</p>