<table cellspacing="0" cellpadding="0" border="1" width="800">
	<tr>
		<th colspan="2" height="10" width="400">Open Date</th>
		<td colspan="2" height="10" width="400">
			dr-open
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">Capability</th>
		<td colspan="2" height="10" width="400">
			dr-cap
		</td>
	</tr>
                 <tr>
		<th colspan="2" height="10" width="400">Position Title</th>
		<td colspan="2" height="10" width="400">
			dr-pos
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">Desired Designation</th>
		<td colspan="2" height="10" width="400">
			dr-desir
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">Hiring Reason</th>
		<td colspan="2" height="10" width="400">
			dr-hir
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">HC Required</th>
		<td colspan="2" height="10" width="400">
			dr-hc
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">Billing Date</th>
		<td colspan="2" height="10" width="400">
			dr-bill
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">Working Location</th>
		<td colspan="2" height="10" width="400">
			dr-wok
		</td>
	</tr>
        <tr>
		<th colspan="2" height="10" width="400">Customer Interview Required (Y/N)</th>
		<td colspan="2" height="10" width="400">
			dr-cus
		</td>
	</tr>
	<tr>
		<th colspan="4" height="10" width="750">Project Introduction(Including Project Name)</th>
	</tr>
	<tr>
		<td colspan="4" height="70" width="750">
			dr-pro
		</td>
	</tr>
	<tr>
		<th colspan="4" height="10" width="750">Duties/Responsibilities</th>
	</tr>
	<tr>
		<td colspan="4" height="70" width="750">
			dr-dut
		</td>
	</tr>
	<tr>
		<th colspan="4" height="10" width="750">Other</th>
	</tr>
	<tr>
		<td colspan="4" height="70" width="750">
			dr-oth
		</td>
	</tr>
	<tr>
		<th colspan="4" height="10" width="750">Requirements</th>
	</tr>
	<tr>
		<th height="10" width="200">Technical Skill</th>
		<th height="10" width="200">Minimum Experience (Years)</th>
		<th height="10" width="200">Ideal Experience (Years)</th>
		<th height="10" width="200">Comment</th>
	</tr>
	<tr>
		<td height="10" width="200"></td>
		<td height="10" width="200"></td>
		<td height="10" width="200"></td>
		<td height="10" width="200"></td>
	</tr>
	<tr>
		<th height="10" width="200">Language Skill</th>
		<th height="10" width="200">Wirtten/Verbal</th>
		<th height="10" width="200">Level</th>
		<th height="10" width="200">Comment</th>
	</tr>
	<tr>
		<td height="10" width="200"></td>
		<td height="10" width="200"></td>
		<td height="10" width="200"></td>
		<td height="10" width="200"></td>
	</tr>
</table>