<div class="onsite-box">
	<div class="nav">
		<ul class="site-lst">
				<li ng-repeat="country in countries track by $index">{{country.name}}</li>
<!-- 			<li>APAC</li> -->
<!-- 			<li>China</li> -->
<!-- 			<li>Europe</li> -->
<!-- 			<li class="selected">NorthAmerica</li> -->
		</ul>
	</div>
	<div class="table-box">
		<div class="center-box">
			<div class="onsite-tb">
				<table>
					<thead>
						<tr>
							<th>country/city</th>
							<th>acceptable duration(in month)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								Japan
							</td>
							<td>
								<input>
							</td>
						</tr>
						<tr>
							<td>
								Malaysia
							</td>
							<td>
								<input>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="onsite-tb fix-btn-box">
				<button class="sld-btn os-btn">Save</button>
			</div>
		</div>
	</div>
</div>