
<div class="panel panel-default">
	<div class="panel-body">
		<cond-filter oppdmd="oppdmds" accts="accounts" get-result="setFiltered(result)">
			<button ng-click="collapseAll()" type="submit" class="btn btn-default">Collapse All</button>
			<button ng-click="extendAll()" type="submit" class="btn btn-default">Extend All</button>
		</cond-filter>
		<hr />
		<div auto-height class="panel panel-default dmd-overview">
			<div class="">
				<cor-accordion-group load-elements="setElements(elements)">
					<div ng-repeat="oppdmd in disoppdmds track by oppdmd.oppo.oppId">
						<cor-accordion heading="oppdmd.oppo" isDisabled="false">
							<cor-accord-content aopp="oppdmd.oppo" tables="oppdmd.dmds"></cor-accord-content>
						</cor-accordion>			
					</div>
				</cor-accordion-group>
			</div>
		</div>
		<hr />
		<p class="text-right p-margin-clear">
			<a ng-click="addeditopp('lg', null)" class="btn btn-default">Add Opportunity</a>
			<a href="api/DrmsDemand/exportExcel" class="btn btn-default">Export Excel</a>
		</p>
	</div>
</div>
<!-- <pre> -->
<!-- 	{{account | json}} -->
<!-- </pre> -->
<!-- <pre> -->
<!-- 	{{oppdmds | json}} -->
<!-- </pre> -->

<!-- <pre> -->
<!-- 	{{allocType | json}} -->
<!-- </pre> -->

<!-- <pre>desgations -->
<!-- 	{{desgations | json}} -->
<!-- </pre> -->

<!-- <pre> -->
<!-- 	{{sites | json}} -->
<!-- </pre> -->
