<div ng-controller="SkillsetController"
	class="viewPage skillsetPage container">
<!-- 	<div class="row user-info">
		<div class="col-lg-6">Employee name:
			{{currentUserInfo.fullName}}</div>
		<div class="col-lg-3">Employee Id:
			{{currentUserInfo.employeeId}}</div>
		<div class="col-lg-3 text-right">
			<a type="button" class="btn btn-danger" href="/skillset/j_spring_security_logout">
				<span class="glyphicon glyphicon-off"></span> Logout
			</a>
		</div>
	</div> -->
	<div class="row">
		<ul class="col-lg-3 nav nav-tabs nav-stacked navigation">
			<li role="presentation" ng-repeat="category in categories"
				class="{{category.id==currentCategory.id?'active':''}}"><a
				ng-click="setCurrentCategory(category)">{{category.name}}<span class="hasActiveData {{category.hasActiveData?'':'hide'}}"></span></a></li>
		</ul>
		<div class="col-lg-9 nav-content">
			<table
				class="table table-hover table-condensed table-bordered table-responsive">
				<thead>
					<tr>
						<th class="nameCol">Skill</th>
						<th class="expCol">Experience (in month)</th>
						<th class="levelCol">Level</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="skill in currentCategory.children">
						<td>{{skill.name}}</td>
						<td><input type="number" max="99" min="0"
							ng-model="skill.experience" class="expMonth"
							ng-blur="setHasActiveData(currentCategory)" /></td>
						<td><select class="techLevel" ng-model="skill.level">
								<option value="N/A">N/A</option>
								<option value="Learned/Trained">Learned/Trained</option>
								<option value="Fundamental">Fundamental</option>
								<option value="Intermediate">Intermediate</option>
								<option value="Expert">Expert</option>
						</select></td>
					</tr>
				</tbody>
			</table>
			<div class="row text-center">
				<a class="btn btn-save" ng-click="save()">Save</a>
			</div>
		</div>
	</div>

</div>