
<div class="mainframe">

		<table class ="skillTable">
			<thead > 

				<tr class="thead">
					<th class="thskill"><font color="white">Skill</font></th>
					<th><font color="white">Experience</font></th>
					<th><font color="white">Level</font></th>
					<th><font color="white">Edit</font></th>
				</tr>
			</thead>
			<tbody class="tbd">
			</tbody>
		</table>

		<div class ="foot">
		<img src="images/edit.jpg" width="40" height ="40" class="edit" type="button" value="edit" onclick="edit()">

		<!-- <input class="save" type="button" value="save"> -->
		</div>
		
		
</div>
