<div class="sld-mail-form">
	<div class="lst">
		<div class="radius-box">
			<div class="title-box">
				<span>demand id</span>
			</div>
			<input readonly ng-model="dmdDetail.dmdShowID" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>opportunity name</span>
			</div>
			<input readonly ng-model="dmdDetail.oppName" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>probability</span>
			</div>
			<input readonly ng-model="dmdDetail.oppProbability" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>resource name</span>
			</div>
			<input readonly ng-model="dmdDetail.resourceName" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>capability</span>
			</div>
			<input readonly ng-model="dmdDetail.capability" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>project</span>
			</div>
			<input readonly ng-model="dmdDetail.project" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>DESIGNATION</span>
			</div>
			<input readonly ng-model="dmdDetail.desigation" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>site</span>
			</div>
			<input readonly ng-model="dmdDetail.site" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>resource type</span>
			</div>
			<input readonly ng-model="dmdDetail.resourceType" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>start date</span>
			</div>
			<input readonly ng-model="dmdDetail.startDate" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>end date</span>
			</div>
			<input readonly ng-model="dmdDetail.endDate" type="text">
		</div>
		<div class="radius-box">
			<div class="title-box">
				<span>status</span>
			</div>
			<input readonly ng-model="dmdDetail.status" type="text">
		</div>
	</div>
</div>