<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	 <select name="cars">  
            <option value="1" >wuhonghui</option>   
            <option value="2" selected>2</option>
            <option value="3" >3</option>   
            <option value="4" >4</option>     
        </select> 
   <select name="cars" multiple=”multiple”>  
            <option value="1" >flp</option>   
            <option value="2" selected>2222</option>
            <option value="3" >3333333333</option>   
            <option value="4" >4444444444</option>     
        </select> 
</body>
</html>