<div class="modal-header ">
	<h3 class="modal-title" id="modal-title">Opportunity-Add</h3>			
</div>
			
<div class="modal-body" id="modal-body">
	<ul class="list-group left">
		<li class="list-group-item">
			<form name="form" class="css-form form-horizontal" novalidate >
  				<div class="form-group input-sm">
    				<label class="col-sm-5 col-xs-5 control-label">OppNum:</label>
                   <div class="col-xs-7 col-sm-7">
              			<input type='text' class="form-control input-sm" ng-model="$ctrl.addObj.oppShowId" required="required">
            
              			
              			
    				</div>
    				
  				</div>
  				
  				
  				
  				<div class="form-group input-sm">
    				<label class="col-sm-5 col-xs-5 control-label">Opportunity:</label>
                   <div class="col-xs-7 col-sm-7">
              			<input type='text' class="form-control input-sm" ng-model="$ctrl.addObj.oppName" required="required">
            
              			
              			
    				</div>
    				
  				</div>
  				
  				<div class="form-group input-sm">
    				
    				<label class="col-sm-5 col-xs-5  control-label">Account:</label>
                   <div class="col-sm-7 col-xs-7">
              			<select class="form-control input-sm" ng-options="acc.accountName for acc in $ctrl.accs track by acc.accountId" ng-model="$ctrl.addObj.drmsAccount" required="required"></select>
    				</div>
  				</div>
  				
  				
  				<div class="form-group input-sm">
   				 <label class="col-sm-5 col-xs-5 control-label">Probability:</label>
    				<div class="col-sm-7 col-xs-7">
      					<input class="form-control input-sm" ng-model="$ctrl.addObj.oppProbability" required="required">
    				</div>
    				
  				</div>
  				<div class="form-group input-sm">
   				 
    				<label class="col-sm-5 col-xs-5 control-label">Status:</label>
    				<div class="col-sm-7 col-xs-7">
      					<select class="form-control input-sm"  ng-options="sta.statusName for sta in $ctrl.stas track by sta.statusId" ng-model="$ctrl.addObj.drmsStatus" required="required"></select>
    				</div>
  				</div>
  				
  
</form>
			
		</li>
	
		
	
	</ul>
	
			

			
			
			</div>
			
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ok</button>
				<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
			</div>