<div class="row">
<div class="col-xs-12">
	
	
	 	<ul class="list-group" ng-repeat="demand in $ctrl.demands track by $index">
	 	
	 		<li class="list-group-item">
	 			<uib-accordion>
	 				<div uib-accordion-group class='panel-default panel-noradius' is-open="$ctrl.status.isCustomHeaderOpen" template-url="views/group-template.html">
	 					<uib-accordion-heading class="panel-noradius">
	 					{{demand.dmdProjName}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':$ctrl.status.isCustomHeaderOpen,'glyphicon-chevron-right':!$ctrl.status.isCustomHeaderOpen}"></i>
	 				
	 					
	 					</uib-accordion-heading>
	 					<ul class="list-group">
	 						
	 						<li class="list-group-item">
	 							<label>ResourceType</label> 
 	 							<span>{{demand.dmdResType}}</span>
	 						</li>
	 						<li class="list-group-item">
	 							<label>Site</label> 
 	 							<span>{{demand.drmsSite.siteName}}</span>
	 						</li>
	 						<li class="list-group-item">
	 							<label>Desigation</label> 
 	 							<span>{{demand.drmsDesigation.dsgName}}</span>
	 					
	 						</li>
	 						<li class="list-group-item">
	 							<label>Position</label> 
 	 							<span>{{demand.dmdPosition}}</span>
	 					
	 						</li>
	 						<li class="list-group-item">
								<label>Capbility</label> 
 	 							<span>{{demand.drmsCapability.capName}}</span>
	 					
	 						</li>
	 						<li class="list-group-item">
	 							<label>Allocation</label> 
 	 							<span>{{demand.drmsAllocationType.atpName}}</span>
	 					
	 						</li>
	 						<li class="list-group-item">
	 							<label>AllocationRatio</label> 
 	 							<span>{{demand.dmdAllocRatio}}</span>
	 					
	 						</li>
	 						<li class="list-group-item">
	 							<label>AssCapbilbity</label> 
 	 							<span>{{demand.drmsAssCapability.capName}}</span>
	 					
	 						</li>
	 						
	 						<li class="list-group-item">
	 							<label>AltDesigation</label> 
 	 							<span>{{demand.dmdAlterdsg}}</span>
	 					
	 						</li>
	 					</ul>
	 				</div>
	 			
	 			</uib-accordion>
	 		
	 		</li>
	 		<li class="list-group-item">
	 			
	 				<label class="col-xs-5">Resource</label> 
 	 				<span>{{demand.drmsResource.resourceName}}</span>
	 		</li>
	 			
	 		
	 		
	 		<li class="list-group-item">
	 			<label class="col-xs-5">StartDate</label> 
 	 			<span>{{demand.startDate}}</span> 
	 		</li>
	 		<li class="list-group-item">
	 			<label class="col-xs-5">EndDate</label> 
 	 			<span>{{demand.endDate}}</span> 
	 		</li>
	 		<li class="list-group-item">
	 			<p class="text-right">
	 				<a ng-click="$ctrl.openAdd($index)" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span>Create-Demand</a>
	 				<a ng-click="$ctrl.openEdit($index)" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit"></span>Modify-Demand</a>
	 			
	 			</p>
	 		
	 		
	 		</li>
	 		
	 	</ul>
	
	</div>
</div>
